html {
    scroll-behavior: smooth;
}

/* iphone5 */

@media only screen and (min-width: 320px) and (max-width: 359px) {
    /* HOMEPAGE */
    .navbar-toggler {
        border: none;
    }
    .carousel-item .w-100 {
        width: 100vw;
        height: 425px;
        display: flex;
        object-fit: cover;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }
    .landingText {
        width: 100% !important;
        height: 13rem !important;
        font-family: 'Playfair Display', serif;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        margin-top: -10vh !important;
        margin-left: -.1vw !important;
    }
    .landingText .card-body {
        padding: 15px !important;
    }
    .landingText h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 53px;
    }
    .landingText p {
        width: 210px;
        height: 57px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px !important;
        line-height: 30px;
        text-align: left;
    }
    /* aboutSection */
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }
    .aboutPhoto {
        width: 40%;
        height: 50vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutText {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        padding: 20px;
    }
    .aboutText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .aboutText span {
        width: 75px;
        border: 2px #FFC602 solid;
    }
    .aboutText p {
        width: 243px !important;
        height: 113px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 35px;
        margin-top: 21px;
    }
    .aboutText a {
        width: 270px;
        height: 57px;
        background: #826A17;
        border-radius: 5px;
        padding: 15px 80px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px !important;
        line-height: 23px;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 30vh !important;
    }
    /* serviceSection */
    .jumboService {
        display: none;
    }
    .serviceMobile {
        margin-top: 40vh !important;
        margin-left: -6vw !important;
    }
    .serviceText {
        width: 5rem !important;
        height: 50px !important;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        padding: 20px;
        margin-left: 6vw;
        /* margin-top: 40vh !important; */
        /* border: 1px red solid; */
    }
    .serviceText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .serviceText span {
        width: 100px;
        height: 5px !important;
        background-color: #FFC602;
        margin-top: -15px !important;
    }
    .serviceMobile .card {
        width: 80% !important;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        font-family: 'Raleway', sans-serif;
        /* margin: 2vh 0 5vh 0 !important; */
    }
    .serviceMobile .card-body h5 {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 25px !important;
        line-height: 26px !important;
        text-align: center;
    }
    .serviceMobile .card-body p {
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 15px !important;
        line-height: 25px !important;
        text-align: center;
    }
    /* moment section */
    /* .container-moments {
        display: none !important;
    }
    .container-momentMobile {
        margin-top: 10vh;
    }
    .momentMobileTitle {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        margin-left: 10vw;
    }
    .momentMobileTitle {
        display: flex;
        justify-content: left;
        align-items: left;
        text-align: left;
    }
    .momentMobileTitle h3 {
        width: 250px;
        height: 64px;
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
    }
    .momentMobileTitle span {
        width: 210px;
        height: 5px;
        background-color: #FFC602;
        margin-top: -15px;
    }
    .momentMobile {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
    }
    .momentMobileBox {
        width: 100%;
        height: 450px;
        margin-top: 31px;
    }
    .momentMobileBox h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        font-weight: normal;
        margin-top: 30px;
        margin-left: 35px;
        margin-bottom: 30px;
    }
    .momentPhotoBox {
        width: 100%;
        height: 160px;
        overflow: scroll;
        margin-top: -20px;
    }
    .photoScroll {
        width: 1590px;
        height: 150px;
        overflow-x: scroll;
        display: flex;
    }
    .photoScroll img {
        width: 250px;
        height: 150px;
        background-color: brown;
        margin-left: 35px;
        margin-right: -30px;
    }
    .photoScroll1 {
        margin-right: -30px;
    }
    .familyMomentMobile {
        margin-top: 800px;
    } */
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
    .navbar-toggler {
        border: none;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }
    .landingText {
        width: 16rem !important;
        height: 14rem;
        font-family: 'Playfair Display', serif;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        margin-top: -10vh;
        margin-left: 6vw !important;
    }
    .landingText .card-body {
        padding: 15px !important;
    }
    .landingText h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 53px;
    }
    .landingText p {
        width: 210px;
        height: 87px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 30px;
    }
    /* aboutSection */
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }
    .aboutPhoto {
        width: 40%;
        height: 50vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-left: 10vw; */
        /* border: 1px red solid; */
    }
    .aboutText {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        padding: 20px;
        /* margin-top: 10vh !important; */
        /* margin-left: -1vw !important; */
    }
    .aboutText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .aboutText span {
        width: 75px;
        /* height: 5px !important; */
        /* background-color: #FFC602; */
        margin-top: -15px;
        /* margin-left: 4vw; */
        border: 5px #FFC602 solid;
    }
    .aboutText p {
        width: 253px;
        height: 113px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 35px;
        margin-top: 21px;
        /* border: 1px red solid; */
    }
    .aboutText a {
        width: 270px;
        height: 57px;
        background: #826A17;
        border-radius: 5px;
        padding: 15px 80px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 103px;
    }
    /* serviceSection */
    .jumboService {
        display: none;
    }
    .serviceMobile {
        /* width: 90%; */
        margin-top: 25vh !important;
    }
    .serviceText {
        width: 5rem !important;
        height: 90px !important;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        padding: 20px;
        margin-top: 20vh !important;
    }
    .serviceText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .serviceText span {
        width: 100px;
        height: 5px !important;
        background-color: #FFC602;
        margin-top: -15px !important;
    }
    .serviceMobile .card {
        width: 10rem !important;
        height: auto;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        font-family: 'Raleway', sans-serif;
        margin: 2vh 0 5vh 0 !important;
    }
    .serviceMobile .card-body h5 {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 22px !important;
        line-height: 26px !important;
        text-align: center;
    }
    .serviceMobile .card-body p {
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 14px !important;
        line-height: 25px !important;
        text-align: center;
    }
}

/* iphpne 6/7/8/x */

@media only screen and (max-width: 375px) {
    .navbar-toggler {
        border: none;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }
    .landingText {
        width: 17rem !important;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        /* padding: 10px; */
        margin-left: 5vw;
        margin-top: -5vh;
    }
    .landingText p {
        width: 280px;
        height: 80px;
        font-size: 15px;
        text-align: left;
    }
    /* aboutSection */
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
        /* border: 1px red solid; */
    }
    .aboutPhoto {
        width: 40%;
        height: 50vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-left: 10vw; */
        /* border: 1px red solid; */
    }
    .aboutText {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        padding: 20px;
        margin-top: -3vh !important;
        /* margin-left: -1vw !important; */
    }
    .aboutText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .aboutText span {
        width: 75px;
        /* height: 5px !important; */
        /* background-color: #FFC602; */
        margin-top: -15px;
        /* margin-left: 4vw; */
        border: 5px #FFC602 solid;
    }
    .aboutText p {
        width: 300px;
        height: 113px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 35px;
        margin-top: 21px;
        /* border: 1px red solid; */
    }
    .aboutText a {
        width: 100%;
        height: 57px;
        background: #826A17;
        border-radius: 5px;
        padding: 15px 80px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        margin-top: 100px;
    }
    /* serviceSection */
    .jumboService {
        display: none;
    }
    .serviceMobile {
        /* width: 100%; */
        margin-top: 25vh;
    }
    .serviceText {
        width: 5rem !important;
        height: 90px !important;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        padding: 20px;
        margin-top: 10vh !important;
    }
    .serviceText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .serviceText span {
        width: 100px;
        height: 5px !important;
        background-color: #FFC602;
        margin-top: -15px !important;
    }
    .serviceMobile .card {
        width: 16.5rem !important;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        font-family: 'Raleway', sans-serif;
        margin: 2vh 0 5vh 2vw;
    }
    .serviceMobile .card-body h5 {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 25px !important;
        line-height: 26px !important;
        text-align: center;
    }
    .serviceMobile .card-body p {
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 15px !important;
        line-height: 25px !important;
        text-align: center;
    }
}

/* iphpne 6/7/8 plus */

@media only screen and (min-width: 376px) and (max-width: 414px) {
    .navbar-toggler {
        border: none;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }
    .landingText {
        width: 90%;
        font-family: 'Playfair Display', serif;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        margin-left: 6vw !important;
        margin-top: -5vh;
    }
    .landingText h5 {
        font-family: 'Playfair Display', serif;
        font-size: 25px;
    }
    .landingText p {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        width: 310px;
    }
    /* aboutSection */
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }
    .aboutPhoto {
        width: 40%;
        height: 50vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-left: 10vw; */
        /* border: 1px red solid; */
    }
    .aboutText {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        padding: 20px;
        margin-top: -3vh !important;
        /* margin-left: -1vw !important; */
    }
    .aboutText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .aboutText span {
        width: 75px;
        margin-top: -15px;
        /* margin-left: 4vw; */
        border: 5px #FFC602 solid;
    }
    .aboutText p {
        width: 300px;
        height: 113px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 35px;
        margin-top: 21px;
        /* border: 1px red solid; */
    }
    .aboutText a {
        width: 100%;
        height: 57px;
        background: #826A17;
        border-radius: 5px;
        padding: 15px 80px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        margin-top: 100px;
    }
    /* serviceSection */
    .jumboService {
        display: none;
    }
    .serviceMobile {
        width: 100%;
        /* margin-top: 40vh; */
    }
    .serviceText {
        width: 5rem !important;
        height: 90px !important;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        padding: 20px;
        margin-top: 15vh !important;
    }
    .serviceText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .serviceText span {
        width: 100px;
        height: 5px !important;
        background-color: #FFC602;
        margin-top: -15px !important;
    }
    .serviceMobile .card {
        width: 18.5rem !important;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        font-family: 'Raleway', sans-serif;
        margin: 2vh 0 5vh 2vw;
    }
    .serviceMobile .card-body h5 {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 25px !important;
        line-height: 26px !important;
        text-align: center;
    }
    .serviceMobile .card-body p {
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 15px !important;
        line-height: 25px !important;
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .landingText {
        width: 34rem !important;
        height: 250px !important;
        font-family: 'Playfair Display', serif;
        margin-top: -10vh;
        margin-left: 5vw !important;
        padding: 10px !important;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .landingText h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 53px;
    }
    .landingText p {
        font-size: 15px;
        width: 603px;
        height: 67px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }
    /* aboutSection */
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* margin-top: 5vh; */
    }
    .aboutPhoto {
        width: 40%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5vw;
        /* border: 1px red solid; */
    }
    .photo1 img {
        width: 215px;
        height: 139px;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        box-shadow: 0px 0px 50px rgba(218, 165, 32, 0.4);
        border-radius: 5px;
        margin-left: -10vw !important;
    }
    .photo2 img {
        width: 230px;
        height: 142px;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        box-shadow: 0px 0px 50px rgba(218, 165, 32, 0.3);
        border-radius: 5px;
        margin-top: -2vh;
        margin-left: 2vw;
    }
    .aboutText {
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        margin-top: 23vh !important;
        margin-left: 5vw !important;
    }
    .aboutText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .aboutText span {
        width: 70px;
        height: 5px;
        background-color: #FFC602;
        margin-top: -15px;
    }
    .aboutText p {
        width: 283px;
        height: 113px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 35px;
        margin-top: 51px;
        /* border: 1px red solid; */
    }
    .aboutText a {
        width: 270px;
        height: 57px;
        background: #826A17;
        border-radius: 5px;
        margin-top: 53px;
        padding: 15px 80px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        text-decoration: none;
    }
    /* serviceSection */
    .serviceMobile {
        display: none;
    }
    .jumboService {
        background-image: url(/assets/images/Homepage/IMG_9624\ copy.jpg);
        background-position: center;
        background-size: cover;
        background-position-y: -90px !important;
        background: linear-gradient(to top rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
        background-repeat: no-repeat;
        background-color: transparent;
        height: 70vh;
        margin-top: 15vh;
    }
    .serviceSection h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
        margin-top: -5vh;
    }
    .serviceBoxImage {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .serviceBoxImage .card {
        width: 10.5rem !important;
    }
    .serviceBoxImage .card .card-img-top {
        width: 245px !important;
        height: 98px !important;
        background-position: center;
        background-size: cover;
        object-fit: contain;
        margin-left: -3vw;
    }
    .serviceBoxImage .card-body {
        font-family: 'Raleway', sans-serif;
        color: black;
    }
    .serviceBoxImage .card-body h5 {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }
    .serviceBoxImage .card-body .card-text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
    }
    .serviceSection .carousel-control-prev-icon .carousel-control-next-icon {
        /* width: 42.5px;
        height: 42.5px;
        background-color: #FFFDFD;
        border-radius: 50px;
        padding: 10px;
        background-image: url("/assets/icons/arrow.svg"); */
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 769px) and (max-width: 1199px) {
    .landingText {
        width: 45rem !important;
        height: 200px !important;
        margin-left: 6vw !important;
    }
    .landingText p {
        width: 743px;
        height: 67px;
    }
    /* aboutSection */
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -15vh !important;
    }
    .aboutPhoto {
        width: 40%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 8vw;
        /* border: 1px red solid; */
    }
    .photo1 img {
        width: 215px;
        height: 139px;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        box-shadow: 0px 0px 50px rgba(218, 165, 32, 0.4);
        border-radius: 5px;
        margin-left: -10vw !important;
    }
    .photo2 img {
        width: 230px;
        height: 142px;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        box-shadow: 0px 0px 50px rgba(218, 165, 32, 0.3);
        border-radius: 5px;
        margin-top: -2vh;
        margin-left: 2vw;
    }
    .aboutText {
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        margin-top: 29vh !important;
        margin-left: 5vw !important;
    }
    .aboutText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 51px;
    }
    .aboutText span {
        width: 70px;
        height: 5px;
        background-color: #FFC602;
        margin-top: -15px;
    }
    .aboutText p {
        width: 423px;
        height: 113px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 35px;
        margin-top: 51px;
        /* border: 1px red solid; */
    }
    .aboutText a {
        width: 270px;
        height: 57px;
        background: #826A17;
        border-radius: 5px;
        margin-top: 53px;
        padding: 15px 80px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        text-decoration: none;
    }
    /* serviceSection */
    .serviceMobile {
        display: none;
    }
    .jumboService {
        background-image: url(/assets/images/Homepage/IMG_9624\ copy.jpg);
        background-position: center;
        background-size: cover;
        background-position-y: -90px !important;
        background: linear-gradient(to top rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
        background-repeat: no-repeat;
        height: 50vh;
        margin-top: -6vh;
    }
    .serviceSection h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    }
    .serviceBoxImage {
        width: 100% !important;
        height: auto !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
        align-items: center !important;
    }
    .serviceBoxImage .card {
        width: 14rem !important;
        height: 24rem !important;
    }
    .serviceBoxImage .card .card-img-top {
        width: 345px !important;
        height: 198px !important;
        background-position: center !important;
        background-size: cover !important;
        object-fit: contain !important;
    }
    .serviceBoxImage .card-body {
        font-family: 'Raleway', sans-serif;
        color: black;
    }
    .serviceBoxImage .card-body h5 {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }
    .serviceBoxImage .card-body p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
    }
    .serviceSection .carousel-control-prev-icon .carousel-control-next-icon {
        width: 42.5px;
        height: 42.5px;
        background-color: #FFFDFD;
        border-radius: 50px;
        padding: 10px;
        background-image: url("/assets/icons/arrow.svg");
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .navbar-toggler {
        border: none;
    }
    .active {
        color: #FFC602 !important;
    }
    .nav-link {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: white !important;
    }
    .nav-link:hover {
        color: #FFC602 !important;
    }
    .carousel-item .w-100 {
        width: 100vw;
        height: 825px !important;
        display: flex;
        object-fit: cover;
    }
    .carousel-control-prev-icon {
        width: 42.5px;
        height: 42.5px;
        background-color: #FFFDFD;
        border-radius: 50px;
        padding: 10px;
        background-image: url("/assets/icons/arrow.svg");
    }
    .carousel-control-next-icon {
        width: 42.5px;
        height: 42.5px;
        background-color: #FFFDFD;
        border-radius: 50px;
        padding: 10px;
        background-image: url("/assets/icons/arrow.svg");
        transform: scaleX(-1);
    }
    .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
        background-color: #DAA520;
        padding: 20px;
    }
    .landingText {
        width: 54rem !important;
        height: 200px !important;
        font-family: 'Playfair Display', serif;
        margin-top: -10vh;
        margin-left: 23vw !important;
        padding: 25px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .landingText .card-body {
        padding: 20px !important;
    }
    .landingText h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 40px !important;
        line-height: 53px;
    }
    .landingText p {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px !important;
        line-height: 30px;
        width: 932px !important;
        height: 67px;
    }
    /* aboutSection */
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
        margin-left: 7vw;
    }
    .aboutPhoto {
        width: 40% !important;
        height: 50vh;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 4vw;
        /* border: 1px red solid; */
    }
    .photo1 img {
        width: 315px !important;
        height: 239px !important;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        box-shadow: 0px 0px 50px rgba(218, 165, 32, 0.4);
        border-radius: 5px;
        margin-left: -7vw;
    }
    .photo2 img {
        width: 370px;
        height: 242px;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        box-shadow: 0px 0px 50px rgba(218, 165, 32, 0.3);
        border-radius: 5px;
        margin-top: -6vh;
        margin-left: 5vw;
    }
    .aboutText {
        width: 50%;
        height: 50vh;
        display: flex !important;
        flex-direction: column;
        justify-content: left !important;
        align-items: left !important;
        text-align: left !important;
        margin-top: 6vh !important;
        margin-left: -3vw !important;
    }
    .aboutText h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 51px;
    }
    .aboutText span {
        width: 145px;
        height: 5px;
        background-color: #FFC602;
        margin-top: -5px;
    }
    .aboutText p {
        width: 683px !important;
        height: 113px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
        margin-top: 51px;
        /* border: 1px red solid; */
    }
    .aboutText a {
        width: 270px;
        height: 57px;
        background: #826A17;
        border-radius: 5px;
        margin-top: 53px;
        padding: 15px 80px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        text-decoration: none;
    }
    /* serviceSection */
    .serviceMobile {
        display: none;
    }
    .jumboService {
        background-image: url(/assets/images/Homepage/IMG_9624\ copy.jpg);
        background-position: center;
        background-size: cover;
        background-position-y: -90px !important;
        background: linear-gradient(to top rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
        background-repeat: no-repeat;
        height: 80vh;
        margin-top: 15vh;
    }
    .serviceSection h3 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    }
    .serviceBoxImage {
        width: 100% !important;
        height: auto !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
        align-items: center !important;
    }
    .serviceBoxImage .card {
        width: 20rem !important;
        height: 22rem !important;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }
    .serviceBoxImage .card .card-img-top {
        width: 345px !important;
        height: 198px !important;
        background-position: center !important;
        background-size: cover !important;
        object-fit: contain !important;
        margin-left: 2px;
    }
    .serviceBoxImage .card-body {
        font-family: 'Raleway', sans-serif;
        color: black;
    }
    .serviceBoxImage .card-body h5 {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 25px !important;
        line-height: 26px !important;
        text-align: center !important;
    }
    .serviceBoxImage .card-body p {
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 18px !important;
        line-height: 25px !important;
        text-align: center !important;
    }
    .serviceSection .carousel-control-prev-icon .carousel-control-next-icon {
        width: 42.5px;
        height: 42.5px;
        background-color: #FFFDFD;
        border-radius: 50px;
        padding: 10px;
        background-image: url("/assets/icons/arrow.svg");
        display: none;
    }
    /* moment mobile */
    /* .container-momentMobile {
        display: none;
    }
    .momentMobileTitle{
        display: none;
    } */
}